@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background-color:hsl(204, 43%, 93%);
    height: 100vh;
    line-height:2;
    text-align: left;
    font-size: 16px;
}

.wrapper-container{
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
}

.description{
    background-color:white;
    color: darkgray;
    font-weight:400;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.description h1{
    color:hsl(179, 62%, 43%);
}
.description h2{
    color:hsl(71, 73%, 54%);
    font-size: 1.2em;border-top-left-radius: 10px;
}

.subscription{
    background-color:hsl(179, 61%, 44%);
    color:hsl(204, 43%, 93%);
    border-bottom-left-radius: 10px;
}
.subscription h2{
    font-size: 2em;
    display:inline-block;
}
.subscription span {
    position: relative;
    bottom:5px;
    left: 5px;
    color:hsla(203, 44%, 93%, 0.664);
}
.why-us{
    background-color:hsl(179, 47%, 52%);
    color:hsl(204, 43%, 93%);
    border-bottom-right-radius: 10px;
}

.why-us > ul, li{
    line-height: 1.5em;
    color:hsla(203, 44%, 93%, 0.884);
    list-style: none;
}

.why-us > ul{
    padding-bottom: 15px;}

.description, .subscription, .why-us{
    padding: 30px;
    font-size: 1em;
}

button{
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    color: whitesmoke;
    background-color: hsl(71, 73%, 54%);
    border:none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 2px 4px  20px -1px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    animation:  ease-in-out 300ms;
}

button:hover{
    background-color: hsl(71, 82%, 58%);
    color:#fff;
}

.attribution{
    position: relative;
    top: 10px;
    text-align: center;
    color: rgba(77, 74, 74, 0.815);
}

@media (min-width:400px) {
    .wrapper-container{
        grid-template-columns: 85%;
    }
}

@media (min-width:685px) {

    .wrapper-container{
        margin-top: 10vh;
        grid-template-columns: repeat(2, 50vh);
        grid-template-rows: 35vh 1fr;
    }
    .description{
        grid-column: 1/3;
    }
}
